replicaCount: 1
revisionHistoryLimit: 0
image:
  repository: registry.alexshangin.ru/sim-personal-data
  pullPolicy: IfNotPresent
  tag: b8e9c01
imagePullSecrets:
  - name: image-pull-secret
nameOverride: ''
fullnameOverride: ''
serviceAccount:
  create: false
  annotations: {}
  name: ''
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 80
ingress:
  enabled: true
  className: public
  annotations:
    external-dns.alpha.kubernetes.io/access: public
    external-dns.alpha.kubernetes.io/hostname: sim.office.ru.
    external-dns.alpha.kubernetes.io/target: kube1.office.ru.
    ingress.kubernetes.io/ssl-redirect: 'false'
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'false'
    nginx.ingress.kubernetes.io/from-to-www-redirect: 'false'
    cert-manager.io/cluster-issuer: office-ru-ca-issuer
  hosts:
    - host: sim.office.ru
      paths:
        - path: /
          pathType: ImplementationSpecific
    - host: sim.s-globus.ru
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: sim-office-ru
      hosts:
        - sim.office.ru
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 64Mi
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
