name: Docker

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  check-changed-files:
    runs-on: ubuntu-latest
   
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get specific changed files
        id: changed-files
        uses: tj-actions/changed-files@v34
        with:
          files_ignore: |
            .github
            .helm
            *.md
            *.yml
            *.yaml

  job2:
    runs-on: ubuntu-latest
    needs: check-changed-files
    steps:
      - run: echo ${{needs.check-changed-files.outputs.any_changed}}

  build-image:
    runs-on: ubuntu-latest
    needs: check-changed-files
    if: needs.check-changed-files.outputs.any_changed == 'true'

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Install cosign
        if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@main
        with:
          cosign-release: 'v1.13.1'
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to private registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
          
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ secrets.REGISTRY_URL }}/${GITHUB_REPOSITORY#*/}

      - name: Set Image
        run: echo "DOCKER_IMAGE=${{ secrets.REGISTRY_URL }}/${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV
        
      - name: Set Tag
        run: echo "DOCKER_TAG=${GITHUB_SHA:0:7}" >> $GITHUB_ENV

      - name: Build & push Docker image
        id: build-and-push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ env.DOCKER_IMAGE }}:${{ env.DOCKER_TAG }}, ${{ env.DOCKER_IMAGE }}:latest
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: 'type=registry,ref=${{ secrets.REGISTRY_URL }}/${{ env.DOCKER_IMAGE }}:buildcache'
          cache-to: 'type=registry,ref=${{ secrets.REGISTRY_URL }}/${{ env.DOCKER_IMAGE }},mode=max'
      
      - name: Sign the published Docker image
        if: ${{ github.event_name != 'pull_request' }}
        env:
          COSIGN_EXPERIMENTAL: "true"
        run: cosign sign ${{ secrets.REGISTRY_URL }}/${{ env.DOCKER_IMAGE }}@${{ steps.build-and-push.outputs.digest }}
      
      - name: Update Docker repository
        uses: fjogeleit/yaml-update-action@main
        with:
          valueFile: '.helm/values.yaml'
          propertyPath: 'image.repository'
          value: ${{ env.DOCKER_IMAGE }}
          updateFile: true
          commitChange: false
          message: 'Update Repository to ${{ env.DOCKER_IMAGE }}'
          
      - name: Update Image Tag
        uses: fjogeleit/yaml-update-action@main
        with:
          valueFile: '.helm/values.yaml'
          propertyPath: 'image.tag'
          value: ${{ env.DOCKER_TAG }}
          updateFile: true
          commitChange: true
          message: 'Update Tag to ${{ env.DOCKER_TAG }}'
